body {
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 0.1em;
  background-color: #DDD;
}

.container {
  width:760px;
  background-color: #FFF;
}

.pd-nav {
  background-color: #79C7E0;
  height: 64px;
}

.pd-nav-left {
  color: #FFF;
  padding: 16px 25px;
  font-size: 26px;
  font-weight: 400;
}

.pd-title {
  padding: 170px;
  text-align:center;
}

.pd-title-subtext {
  font-size: 25px;
}

.pd-title-main {
  color: #F02;
  font-size: 54px;
  padding-top: 1px;
  letter-spacing: 0.16em;
}
